apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- rbac.yaml
- prometheus-configmap.yaml
- prometheus-deployment.yaml
- prometheus-service.yaml
- grafana-deployment.yaml
- grafana-service.yaml

commonLabels:
  app.kubernetes.io/component: monitoring
  app.kubernetes.io/part-of: llm-cost-ops
