.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background: var(--ifm-background-color);
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features h3 {
  margin-bottom: 1rem;
  color: var(--ifm-color-primary);
}

.features p {
  color: var(--ifm-font-color-secondary);
  line-height: 1.7;
}
